.blog-item{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    overflow: hidden;
    cursor: pointer;
}
.blog-img img{
    transition: transform .9s ease;
}
.blog-item:hover img {
    transform: scale(1.1);
}
.blog-icon i{
    color: #80B500;
    font-weight: bold;
}